body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin-top: 5%;
    width: 850px;
    height: 550px;
    background-color: var(--color-white);
    border-radius: 25px;
    overflow: hidden;
    display: flex;
}

.register-box{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.inputs_registrar{
    padding: 33px 33px;
    width: 42%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greeting{
    font-family: var(--font-instrument-sans);
    color: var(--color-black);
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}
    
label {
    font-size: 16px;
    font-weight: 600;
    color: rgb(90, 84, 84);
    margin-top: 30px;
    margin-bottom: 50px;
    gap: 50px;
    font-family: var(--font-open-sans);
}

input {
    width: 100%;
    height: 38px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid rgb(90, 84, 84);
    padding: 0 10px;
    font-family: var(--font-open-sans);
    font-size: 16px;
}

form {
    width: 280px;
}

.imagem_estudantes{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.botoes{
    margin-top: 15px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
}

.criar-conta{
    height: 40px;
    width: 140px;
    border-radius: 10px;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: bold;
    border: none;
    font-size: 16px;
}

.forgot-password{
    font-size: 14px;
    color: gray;
    font-family: var(--font-instrument-sans);
    font-weight: 600;
    text-decoration: none;
    padding-left: 54px;
}

.logo-container-with-text {
    align-self: start;
}