<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ConectaUFC</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <h1>ConectaUFC</h1>
            <nav>
                <a href="pessoal.html">voltar para pagina pessoal</a>
            </nav>
        </header>

        <h2>Usuarios cadastrados</h2>
        <table id="tabelaUsuarios" border="1" cellpadding="5" cellspacing="0">
            <thead>
                <th>Login</th>
                <th>Texto</th>
                <th>Número</th>
                <th>Admin</th>
                <th>Senha hash</th>
            </thead>
            <tbody>

            </tbody>
        </table>

        <script src="admin_script.js"></script>
    </body>
</html>