<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ConectaUFC</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <h1>ConectaUFC</h1>
            <nav>
                <a href="pessoal.html">voltar para pagina pessoal</a>
            </nav>
        </header>

        <script src="admin_script.js"></script>
    </body>
</html>