<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ConectaUFC</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <h1>ConectaUFC</h1>
        </header>

        <div id="login_box" class="input_login_registrar">
            <form>
                <label for="login">Login:</label>
                <input type="text" id="login" name="login" required>

                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>

                <button type="submit">Fazer login</button>
            </form>
        </div>
        <script src="login_script.js"></script>
    </body>
</html>